.buttonFill {
  font-size: 1rem;
  padding: 10px 35px;
  /* border-radius: 20px; */
  background-color: var(--colorPrimary);
  color: var(--colorLight);
  border: 2px solid var(--colorPrimary);
  cursor: pointer;
  transition: 500ms all;
  text-align: center;
}
.buttonFill:hover {
  background-color: var(--colorLight);
  color: var(--colorPrimary);
}
.buttonUnfilled {
  font-size: 1rem;
  padding: 10px 35px;
  /* border-radius: 20px; */
  background-color: var(--colorLight);
  color: var(--colorPrimary);
  border: 2px solid var(--colorPrimary);
  cursor: pointer;
  transition: 500ms all;
  text-align: center;
}
.buttonUnfilled:hover {
  background-color: var(--colorPrimary);
  color: var(--colorLight);
}
