.alert {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background-color: var(--colorPrimary);
  border-radius: 8px;
  text-align: center;
  display: none;
}
.p {
  color: var(--colorLight);
  margin-bottom: 15px;
}
