/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --colorPrimary: #b690c8;
  --colorSecondary: #232b45;
  --colorLight: #ffffff;
  --colorBlack: #000000;
  --fontPrimary: "Poppins", sans-serif;
  /* --fontPrimary: "Bebas Neue", "Raleway";
  --fontSecondary: "Raleway", sans-serif; */
}
/* :root {
  --colorPrimary: #1090cb;
  --colorSecondary: #232b45;
  --colorLight: #ffffff;
  --colorBlack: #000000;
  --fontPrimary: "Poppins", sans-serif;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontPrimary);
}
h1,
h2 {
  font-family: var(--fontPrimary);
}
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

.line1,
.line2,
.line3 {
  height: 4px;
  width: 25px;
  margin: 6px;
  background-color: var(--colorLight);
  transition: 500ms all;
}

.toggleBurger .line1 {
  transform: rotate(45deg) translateY(7px);
}

.toggleBurger .line2 {
  display: none;
}

.toggleBurger .line3 {
  transform: rotate(-43deg) translateY(-6px);
}

.toggleNav {
  transform: translateX(0%);
}

.displayNone {
  display: none;
}
